.item {
  max-width: 100%;
  border: 1px #ccc solid;
  border-radius: 20px;
  overflow: hidden;
  padding: 5px;
  margin-top: 5px;
}

.item .clickable {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item .title {
  font-size: 1.1em;
}

.item .clickable button {
  margin-right: 10px;
}

.item .answer {
  border: 1px black solid;
  border-radius: 20px;
  padding: 5px;
}

.closed .answer {
  display: none;
}