.getAll {
  margin-top: 5px;
}

.loader {
  margin: auto;
  background: transparent;
  shape-rendering: auto;
}

.btn_container {
  margin-top: 2px;
}

.btn_container .btn {
  margin-right: 1px;
}

#controllers, #controllers form {
  display: flex;
  justify-content: flex-start;
}

#controllers input, #controllers form {
  flex: 0 2 auto;
}

#controllers button {
  flex: 0 0 auto;
}


