.getAll {
  margin-top: 5px;
}

.loader {
  margin: auto;
  background: transparent;
  shape-rendering: auto;
}

.btn_container {
  margin-top: 2px;
}

.btn_container .btn {
  margin-right: 1px;
}

#controllers {
  display: flex;
}

#controllers  input {
  flex: 1 2 auto;
}

#controllers  button {
  flex: 0 1 auto;
}